.modal__container {
    background-color: red;
    border-radius: 20px;  
    height: 500px;
    width: 500px;
    position: relative;
    top: -900px;
    left: 750px;
}

.modal__visible {
    background-color: red;
    border-radius: 20px;  
    height: 500px;
    width: 500px;
    position: relative;
    top: -900px;
    left: 750px;
}