button {
  cursor: pointer;
  height: 50px;
  min-width: 154px;
  padding: 10px 30px;
  border-radius: 7px;
  border: none;
  // background-color: $most-important-element-color !important;
  font-size: 0.9rem;
  color: $title-color;
}


