.showMedia__container {
  display: flex;
  width: 70%;
  height: fit-content;
  margin: auto;
  margin-top: 7rem;
  border-radius: 12px;
  overflow: hidden;
  background-color: $component-bg-color;
  @include components-bg-shadow;

  .showMedia__content-container {
    display: flex;
    width: 100%;

    span {
      color: $most-important-element-color;
    }

    .showMedia__img-container {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .mediaShow__text-container {
      height: 100%;
      width: 100%;
      padding: 2rem 2rem;
      // padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // background-color: red;

      .mediaShow__card-header {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        h1 {
          font-size: calc(1rem + 2vw);
          margin-bottom: 0.5rem;
        }

        // background-color: orange;
      }

      .mediaShow__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 1.2rem;

        h4 {
          font-size: calc(0.2rem + 1vw);
        }

        .overview__container {
          display: flex;
          flex-direction: column;
          row-gap: 0.6rem;
          overflow: auto;

          p {
            height: 180px;
            overflow-y: auto;
            font-size: calc(0.2rem + 0.8vw);
            // padding: 1rem 0rem;
            padding-right: 1rem;
            text-align: justify;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .showMedia__container {
    width: 100%;
    flex-direction: column;

    .showMedia__content-container {
      display: flex;
      flex-direction: column;



      span {
        font-size: calc(0.4rem + 1vw);
        color: $most-important-element-color;
      }

      .showMedia__img-container {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .mediaShow__text-container {
        .mediaShow__card-header {
          h1 {
            font-size: calc(1rem + 1vw);
            margin-bottom: 0.5rem;
          }

          // background-color: orange;
        }

        .mediaShow__text {
          h4 {
            font-size: calc(0.2rem + 1vw);
          }

          .mediaShow__title-title{
            font-size: calc(0.3rem + 1vw);

          }

          .overview__container {
            p {
              font-size: calc(0.3rem + 1vw);

            }
          }
        }
      }
    }
  }
}
