.lastMediaAdded__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1rem;
  background-color: $component-bg-color;
  border-radius: 7px;

  .lastMediaAdded__header {
  }

  .lastMediaAdded__card-container {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .lastMediaAdded__container {
    .lastMediaAdded__card-container {
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      width: 100%;
    }
  }
}

@media screen and (max-width: 820px) {
  .lastMediaAdded__container {
    .lastMediaAdded__card-container {
      align-items: center;
      row-gap: 1rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
